<div class="media mb-4 comment-wrapper">
    <% if comment.user.avatar.attached? %>
      <%= image_tag comment.user.avatar.variant(resize: '100x100'), class: "d-flex mr-3 rounded-circle" %>
    <% end %>
  <div class="media-body">

    <p class="lead">
      <%= comment.user.first_name %> 
      <%= comment.user.last_name %>
    </p>


    <p class="lead">
      <%= comment.body %>
    </p>
    <small>Submitted <%= time_ago_in_words(comment.created_at) %> ago</small>

    <%= form_for [comment, Comment.new], html: { class: "form-group" }, remote: true do |f| %>
        <%= hidden_field_tag "article_id", @article.id %>
        <%= f.text_area :body, placeholder: "Add a Reply", class: "form-control" %><br/>
        <%= f.submit "Reply", class: "btn btn-primary" %>
        <%= link_to "Delete", [comment.commentable, comment], remote: true,
            class: "delete-action btn btn-danger", method: :delete, data: {confirm: "Are you sure?"} if comment.user == current_user %>
    <% end %>

    <ul class="nested_messages">
      <%= render comment.comments %>
    </ul>

  </div>
</div>
