<div class="row"> 
  <div class="col-md-8">
    <div class="page-header">
      <%= link_to articles_path, class: 'btn btn-default' do %>
        All Articles
      <% end %>
      <% if current_user == @article.user %>
        <%= link_to edit_article_path(@article), class: 'btn btn-primary' do %>
          Edit
        <% end %>
        <%= link_to article_path(@article), method: :delete, data: { confirm: 'Are you sure?' },class: 'btn btn-danger' do %>
          Delete
        <% end %>
      <% end %>
      <h1>Show article</h1>
    </div>

    <dl class="dl-horizontal">
      <dt>Title:</dt>
      <dd><%= @article.title %></dd>

      <dt>Body:</dt>
      <dd><%= @article.body %></dd>

      <dt>User:</dt>
      <dd>
        <%= image_tag url_for(user_avatar(@article.user, 25)), class: "rounded" %>
        <%= @article.user.first_name %>
        <%= @article.user.last_name %>
      </dd>

    </dl>

      <hr>


      <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
            <%= render 'comments/form' %>
          </div>
        </div>
        <div id="comment-section">
          <h2>Comments</h2>
          <%= render @article.comments %>
        </div>
      </div>
  </div>
</div>
